{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>KONOK - Inicio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Barra superior -->
    <header class="header" id="header">
        <div class="header-content">
            <img src="{% static 'img/Konok_logo.png' %}" alt="Logo KonoK" class="logo">
        </div>
    </header>

    <!-- Barra de navegación -->
    <nav class="navbar">
        <ul>
           <li><a href="/" class="{% if request.path == '/' %}active{% endif %}">Inicio</a></li>
        </ul>
    </nav>
    <hr class="divider">
    <!-- Sección Recuperar Password -->
    <section class="info" style="padding: 40px 20px;">
    <h1 style="text-align: center; font-size: 2.2em; margin-bottom: 20px; color: #074584;">
        Recuperar Contraseña
    </h1>

    <div class="info-content" style="display: flex; flex-direction: column; align-items: center; gap: 30px;">
        <img src="{% static 'img/konok.png' %}" alt="Logo KonoK" style="width: 160px; height: auto;">

        <div class="form-container" style="width: 100%;max-width: 400px;background-color: #ffffff;padding: 30px;border-radius: 15px;box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);display: flex;flex-direction: column;align-items: center;">
            <form method="POST" style="width: 100%; display: flex; flex-direction: column; gap: 15px;">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Correo registrado" required
                    style="padding: 12px; border-radius: 8px; border: 1px solid #ccc; font-size: 16px;">

                <button type="submit"
                    style="padding: 12px; background-color: #1c6fa7; border: none; border-radius: 8px; color: white; font-size: 16px; font-weight: bold; cursor: pointer; transition: 0.3s;">
                    Enviar nueva contraseña
                </button>
            </form>

            {% if mensaje %}
                <p style="color: green; margin-top: 15px; font-size: 15px; text-align: center;">
                    {{ mensaje }}
                </p>
            {% elif error %}
                <p style="color: red; margin-top: 15px; font-size: 15px; text-align: center;">
                    {{ error }}
                </p>
            {% endif %}
        </div>
    </div>
</section>



    <hr class="divider">

<script src="{% static 'js/modal.js' %}"></script>

</body>
</html>
